@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Lucida Console', monospace;
    }

    input:focus {
        outline: none;
    }

    #terminal,
    #chat {
        scrollbar-color: green black;
    }
}